<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="row" id="head">
        <div class="col-l-2">
            <a href="/" style="text-decoration: none">
                <img src="full.png">
            </a>
        </div>
        <div class="col-l-10">
            <p>Huỳnh Công Danh</p>
        </div>
    </div>
    <div class="row" id="headLink">
        <div class="col-l-9">
            <a href="/">Home</a>
            <a href="/">Employee</a>
            <a href="/customer">Customer</a>
            <a href="/">Service</a>
            <a href="/cart" style="border-right: none">Contract</a>
        </div>
        <div class="col-l-3">
            <form action="https://www.google.com/search">
                <input type="text" name="q" placeholder="Search on Google"
                       style="border-radius: 10px; padding-left: 10px; width: 70%; font-family: Calibri">
            </form>
        </div>
    </div>
</div>

</body>
</html>